<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.com.yyxx.yld.supply.dao.sm.ISmPayTransCodeResultDao">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="cn.com.yyxx.yld.supply.entity.sm.SmPayTransCodeResult">
        <id column="ptcr_id" property="ptcrId" />
        <result column="prcr_mpso_sbi_id" property="prcrMpsoSbiId" />
        <result column="ptcr_mpso_order_no" property="ptcrMpsoOrderNo" />
        <result column="ptcr_mpso_id" property="ptcrMpsoId" />
        <result column="ptcr_interface_type" property="ptcrInterfaceType" />
        <result column="ptcr_request_content" property="ptcrRequestContent" />
        <result column="ptcr_response_content" property="ptcrResponseContent" />
        <result column="ptcr_ext_content" property="ptcrExtContent" />
        <result column="ptcr_is_success" property="ptcrIsSuccess" />
        <result column="ptcr_result_code" property="ptcrResultCode" />
        <result column="ptcr_fail_message" property="ptcrFailMessage" />
        <result column="ptcr_create_time" property="ptcrCreateTime" />
        <result column="ptcr_modify_time" property="ptcrModifyTime" />
        <result column="ptcr_is_delete" property="ptcrIsDelete" />
        <result column="ptcr_sort" property="ptcrSort" />
        <result column="ptcr_description" property="ptcrDescription" />
    </resultMap>

</mapper>
