<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.com.yyxx.yld.scm.dao.rm.IRmInStoreRecordItemDao">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="cn.com.yyxx.yld.supply.entity.rm.RmInStoreRecordItem">
        <id column="isri_id" property="isriId" />
        <result column="isri_code" property="isriCode" />
        <result column="isri_isro_id" property="isriIsroId" />
        <result column="isri_mpbi_id" property="isriMpbiId" />
        <result column="isri_bar_code" property="isriBarCode" />
        <result column="isri_bar_codes" property="isriBarCodes" />
        <result column="isri_name" property="isriName" />
        <result column="isri_short_pinyin" property="isriShortPinyin" />
        <result column="isri_short_code" property="isriShortCode" />
        <result column="isri_unit" property="isriUnit" />
        <result column="isri_size" property="isriSize" />
        <result column="isri_category" property="isriCategory" />
        <result column="isri_wholesale_price" property="isriWholesalePrice" />
        <result column="isri_retail_price" property="isriRetailPrice" />
        <result column="isri_cost_price" property="isriCostPrice" />
        <result column="isri_originali_stock_number" property="isriOriginaliStockNumber" />
        <result column="isri_warehouse_number" property="isriWarehouseNumber" />
        <result column="isri_inventory_number" property="isriInventoryNumber" />
        <result column="isri_account" property="isriAccount" />
        <result column="isri_create_time" property="isriCreateTime" />
        <result column="isri_modify_time" property="isriModifyTime" />
        <result column="isri_is_delete" property="isriIsDelete" />
        <result column="isri_sort" property="isriSort" />
        <result column="isri_description" property="isriDescription" />
        <result column="isri_remark" property="isriRemark" />
    </resultMap>


</mapper>
