<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.com.yyxx.yld.supply.dao.rm.IRmInStoreRecordOrderDao">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="cn.com.yyxx.yld.supply.entity.rm.RmInStoreRecordOrder">
        <id column="isro_id" property="isroId"/>
        <result column="isro_code" property="isroCode"/>
        <result column="isro_in_type" property="isroInType"/>
        <result column="isro_terminal_type" property="isroTerminalType"/>
        <result column="isro_sbi_id" property="isroSbiId"/>
        <result column="isro_sbi_code" property="isroSbiCode"/>
        <result column="isro_sbi_full_name" property="isroSbiFullName"/>
        <result column="isro_sdc_id" property="isroSdcId"/>
        <result column="isro_sdc_client_name" property="isroSdcClientName"/>
        <result column="isro_no" property="isroNo"/>
        <result column="isro_row_num" property="isroRowNum"/>
        <result column="isro_total_num" property="isroTotalNum"/>
        <result column="isro_real_price" property="isroRealPrice"/>
        <result column="isro_oper_user_id" property="isroOperUserId"/>
        <result column="isro_oper_user_num" property="isroOperUserNum"/>
        <result column="isro_oper_user_name" property="isroOperUserName"/>
        <result column="isro_time" property="isroTime"/>
        <result column="isro_sync_user_id" property="isroSyncUserId"/>
        <result column="isro_sync_user_name" property="isroSyncUserName"/>
        <result column="isro_create_time" property="isroCreateTime"/>
        <result column="isro_modify_time" property="isroModifyTime"/>
        <result column="isro_is_delete" property="isroIsDelete"/>
        <result column="isro_sort" property="isroSort"/>
        <result column="isro_description" property="isroDescription"/>
        <result column="isro_remark" property="isroRemark"/>
    </resultMap>


    <!-- 插入数据:返回记录主键id值 -->
    <insert id="addRmInStoreRecordBackId" parameterType="cn.com.yyxx.yld.supply.entity.rm.RmInStoreRecordOrder"  useGeneratedKeys="true" keyProperty="rmInStoreRecordOrderVO.isroId" keyColumn="isro_id" >
        insert into rm_in_store_record_order (
        isro_code,
        isro_in_type,
        isro_terminal_type,
        isro_sbi_id,
        isro_sbi_code,
        isro_sbi_full_name,
        isro_sdc_id,
        isro_sdc_client_name,
        isro_no,
        isro_row_num,
        isro_total_num,
        isro_real_price,
        isro_oper_user_id,
        isro_oper_user_num,
        isro_oper_user_name,
        isro_time,
        isro_sync_user_id,
        isro_sync_user_name,
        isro_create_time,
        isro_modify_time,
        isro_is_delete,
        isro_sort,
        isro_description,
        isro_remark
        ) values(
        #{rmInStoreRecordOrderVO.isroCode},
        #{rmInStoreRecordOrderVO.isroInType},
        #{rmInStoreRecordOrderVO.isroTerminalType},
        #{rmInStoreRecordOrderVO.isroSbiId},
        #{rmInStoreRecordOrderVO.isroSbiCode},
        #{rmInStoreRecordOrderVO.isroSbiFullName},
        #{rmInStoreRecordOrderVO.isroSdcId},
        #{rmInStoreRecordOrderVO.isroSdcClientName},
        #{rmInStoreRecordOrderVO.isroNo},
        #{rmInStoreRecordOrderVO.isroRowNum},
        #{rmInStoreRecordOrderVO.isroTotalNum},
        #{rmInStoreRecordOrderVO.isroRealPrice},
        #{rmInStoreRecordOrderVO.isroOperUserId},
        #{rmInStoreRecordOrderVO.isroOperUserNum},
        #{rmInStoreRecordOrderVO.isroOperUserName},
        #{rmInStoreRecordOrderVO.isroTime},
        #{rmInStoreRecordOrderVO.isroSyncUserId},
        #{rmInStoreRecordOrderVO.isroSyncUserName},
        #{rmInStoreRecordOrderVO.isroCreateTime},
        #{rmInStoreRecordOrderVO.isroModifyTime},
        #{rmInStoreRecordOrderVO.isroIsDelete},
        #{rmInStoreRecordOrderVO.isroSort},
        #{rmInStoreRecordOrderVO.isroDescription},
        #{rmInStoreRecordOrderVO.isroRemark}
        )
    </insert>


</mapper>
