<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.com.yyxx.yld.supply.dao.pm.IPmPurchaseItemInfoDao">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="cn.com.yyxx.yld.supply.entity.pm.PmPurchaseItemInfo">
        <id column="pii_id" property="piiId"/>
        <result column="pii_no" property="piiNo"/>
        <result column="pii_poi_id" property="piiPoiId"/>
        <result column="pii_mpbi_id" property="piiMpbiId"/>
        <result column="pii_category" property="piiCategory"/>
        <result column="pii_product_code" property="piiProductCode"/>
        <result column="pii_bar_code" property="piiBarCode"/>
        <result column="pii_short_pinyin" property="piiShortPinyin"/>
        <result column="pii_short_code" property="piiShortCode"/>
        <result column="pii_name" property="piiName"/>
        <result column="pii_unit" property="piiUnit"/>
        <result column="pii_size" property="piiSize"/>
        <result column="pii_num" property="piiNum"/>
        <result column="pii_num_allow_decimal" property="piiNumAllowDecimal"/>
        <result column="pii_retail_price" property="piiRetailPrice"/>
        <result column="pii_wholesale_price" property="piiWholesalePrice"/>
        <result column="pii_sub_total" property="piiSubTotal"/>
        <result column="pii_expected_payoff" property="piiExpectedPayoff"/>
        <result column="pii_create_time" property="piiCreateTime"/>
        <result column="pii_modify_time" property="piiModifyTime"/>
        <result column="pii_is_delete" property="piiIsDelete"/>
        <result column="pii_sort" property="piiSort"/>
        <result column="pii_description" property="piiDescription"/>
        <result column="pii_remark" property="piiRemark"/>
    </resultMap>

    <select id="findListByPoiId" resultType="cn.com.yyxx.yld.supply.entity.pm.PmPurchaseItemInfo">
        select
            pii_id,
            pii_no,
            pii_poi_id,
            pii_mpbi_id,
            pii_category,
            pii_product_code,
            pii_bar_code,
            pii_short_pinyin,
            pii_short_code,
            pii_name,
            pii_unit,
            pii_size,
            pii_num,
            pii_num_allow_decimal,
            pii_retail_price,
            pii_wholesale_price,
            pii_sub_total,
            pii_expected_payoff,
            pii_create_time,
            pii_modify_time,
            pii_is_delete,
            pii_sort,
            pii_description,
            pii_remark
        FROM pm_purchase_item_info
        WHERE
            pii_poi_id = #{poiId}
            and pii_is_delete = 0
    </select>

</mapper>
